.profile__info {
  width: 336px;
  margin-left: 30px;
  display: grid;
  grid-template-areas: "title edit"
                       "subtitle .";
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin-top: 26px;
  }
}

@media screen and (max-width: 610px) {
  .profile__info {
    width: 218px;
  }
}
