.elements__description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 15px 31px 21px;
}

@media screen and (max-width: 610px) {
  .elements__description {
    padding-bottom: 27px;
  }
}
