.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  padding: 0;
}

.profile__add-button::after {
  position: absolute;
  content: '';
  width: 22px;
  height: 2px;
  top: 50%;
  right: 50%;
  transform: translate(50%);
  background-color: #fff;
}

.profile__add-button::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 2px;
  top: 50%;
  right: 50%;
  transform: translate(50%) rotate(90deg);
  background-color: #fff;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin-top: 36px;
    width: 200px;
  }
}

@media screen and (max-width: 610px) {
  .profile__add-button {
    margin-top: 24px;
    width: 282px;
  }

  .profile__add-button::after {
    width: 16px;
  }

  .profile__add-button::before {
    width: 16px;

  }
}

