.elements__likes {
  width: 22px;
  height: 19px;
  background: url('../../../img/like.svg') center center/cover no-repeat;
  cursor: pointer;
  border: none;
}

.elements__likes:hover {
  opacity: .5;
}

